.hero-navbar{
  background-color: #1C1B2F;
}
.subtitle{
  color: white;
}
.gear img{
    float: right;
    color: white;
    margin-top:0.8em;
}
.dark {
  color:#242424
}
.spacing-sm {
  margin-bottom:8px;
}

.theme-color, .theme-color:hover {
    background-color:#1C1B2F;
    color:#ffffff;
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tr:nth-child(even) {
    background-color: #dddddd;
}
h1{
  font-size: 30px;
}
