<!DOCTYPE html>
<html lang="en">
<head>
    <title>Accurately Insured Business</title>
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <section class="hero-navbar">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <img src="../static/img/logo.PNG" alt="logo" width="100" height="80">
            </h1>
            <h2 class="subtitle">
                Accurately Insured Business
            </h2>
        </div>
    </div>
</section>
<br>
<div class="container">
    <div class="columns">
        <div class="column is-one-third">
                <h3 class="subtitle dark">User Information</h3>
                <div class="columns">
                    <div class="column is-half">
                        <div class="field">
                            <label class="label">First Name</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="" value="{{user['fname']}}">
                            </div>
                        </div>
                    </div>
                    <div class="column is-half">
                        <div class="field">
                            <label class="label">Last Name</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="" value="{{user['lname']}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-half">
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="" value="{{user['username']}}">
                            </div>
                        </div>
                    </div>
                    <div class="column is-half">
                        <div class="field">
                            <label class="label">E-Mail</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="" value="{{user['email']}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Phone Number</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="" value="{{user['phone']}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Address</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="" value="{{user['address']}}">
                        <div class="spacing-sm"></div>
                        <input class="input" type="text" placeholder="" value="">
                    </div>
                </div>
        </div>
        <div class="column">
          <h3 class="subtitle dark">Business Information</h3>
              <div class="field">
                  <label class="label">Name</label>
                  <div class="control">
                      <input class="input" type="text" placeholder="" value="{{user['businesses'][1]['name']}}">
                  </div>
              </div>
              <div class="field">
                  <label class="label">Industry</label>
                  <div class="control">
                      <input class="input" type="text" placeholder=""
                             value="{{user['businesses'][1]['industry']}}">
                  </div>
              </div>
              <div class="field">
                  <label class="label">Address</label>
                  <div class="control">
                      <input class="input" type="text" placeholder=""
                             value="{{user['businesses'][1]['address']['line1']}}">
                      <div class="spacing-sm"></div>
                      <input class="input" type="text" placeholder=""
                             value="{{user['businesses'][1]['address']['line2']}}">
                  </div>
              </div>
              <div class="control">
              </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">
        <h3 class="subtitle dark">Log</h3>
        <div id="log">
            <table class="table">
                <thead>
                <tr>
                    <th>TIME</th>
                    <th>TEMP</th>
                    <th>ALERT</th>
                    <th>LABELS</th>
                    <th>IMAGE</th>
                </tr>
                </thead>
                <tbody id="entries">
                {% for log in reversed(user['businesses'][1]['log']) %}
                <tr>
                    <td>{{log['time']}}</td>
                    <td>{{log['temperature']}}</td>
                    <td>{{log['alert']}}</td>
                    <td>{{log['labels']}}</td>
                    <td>
            <span class="icon">
              <a href="{{log['images']}}" target="_blank"><i class="fa fa-external-link"></i></a>
            </span>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

</body>
</html>
